fastapi
uvicorn
python-dotenv
pillow
numpy
torch
diffusers
transformers
accelerate
safetensors
sentencepiece
sentence-transformers
langgraph
langchain-core
langchain-openai
openai
peft
compel

rembg
fonttools
onnxruntime-gpu

Brotli
